#thirdDiv {
    margin: 0 auto; 
    height: 0 auto;
    width: 900px;  
    background: #FCF3CF; 
    padding: 10px; 
    border: 10px solid black;
}

#spanId{
    text-align: center;
    font-size: 18px; 
    margin: 50px;

}

h1 {
    text-align: center;
    color: aqua;

}

h2 {
    text-align: center;
    color: aqua;

}

a {
    text-align: center;
}

h3 {
    text-align: center;
    color: aqua;

}

h4 {
    text-align: center;
    color: black;

}

img {
    margin: 0 auto; 
    width: 200px;
}